body{
    overflow: hidden;
}
.first{
    width: 100%;
    height: 70%;
    padding: 10px;
}

.second{
    width: 100%;
    height: 70%;
    padding: 10px;
}

.btn{
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
#login-panel{
    width: 50%;
    position: absolute;
    right: 5%;
}